//Font
$font-weight-default: 500;
$font-family:  'Chakra Petch', sans-serif;
$base-font-size: 62%;
$border-radius: 6px;
$border-radius-btn: 6px;
$button-slider: 16px;
$font-size: 15px;


//New type breakpoint
$containerX-padding: 50px;
$breakpoint-pc: 1260px;
$breakpoint-pc2: 1800px;
$content-pc: 1200px;
$breakpoint-sp: 980px;

// ------------------------
$primary-color : #233871;
$sub-color : #ff6400;
$white-color: #FFFF;
$btn-hover: #DC3535;
$black-color: #000;
$body-color: #F8F8F8;
$gray-color: #999;
$text-primary: #333;